@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  font-family: 'Red Hat Text', sans-serif;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 4fr 1fr;
  background: #1e1f29 url("../images/bg-stars.svg") no-repeat; }
  @media screen and (min-width: 1024px) {
    body {
      grid-template-rows: 3fr 1fr; } }

main {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center; }

footer {
  width: 100%;
  background: url("../images/pattern-hills.svg") no-repeat;
  background-position: right;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }

h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.26em;
  line-height: 24px;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 3em; } }

.countdown-container {
  align-self: flex-start;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative; }
  .countdown-container .card {
    position: relative;
    width: 75px;
    height: 60px;
    background-color: #343650;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 1px 0 #191a24; }
    @media screen and (min-width: 1024px) {
      .countdown-container .card {
        width: 150px;
        height: 120px; } }
    .countdown-container .card .front {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .countdown-container .card .back {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1e1f29; }
    .countdown-container .card .top-half {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: #1e1f29;
      opacity: 0.3; }
    .countdown-container .card::before, .countdown-container .card::after {
      position: absolute;
      content: '';
      height: 5px;
      width: 5px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #191a24;
      border-radius: 50%; }
    .countdown-container .card::before {
      left: -2px; }
    .countdown-container .card::after {
      right: -2px; }
  .countdown-container .text {
    font-size: 3em;
    color: #fb6087; }
    @media screen and (min-width: 1024px) {
      .countdown-container .text {
        font-size: 5.5em; } }
  .countdown-container .label {
    text-align: center;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: 0.19em;
    line-height: 12px;
    color: #8486a9;
    font-size: 0.75em; }
    @media screen and (min-width: 1024px) {
      .countdown-container .label {
        font-size: 1em; } }

#socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; }
  #socials li {
    list-style-type: none;
    min-height: 25px;
    min-width: 25px;
    background-color: #8486a9; }
    #socials li:hover {
      background-color: #fb6087; }
  #socials #facebook {
    -webkit-mask: url("../images/icon-facebook.svg");
    mask: url("../images/icon-facebook.svg");
    -webkit-mask-size: contain;
    mask-size: contain; }
  #socials #pinterest {
    -webkit-mask: url("../images/icon-pinterest.svg");
    mask: url("../images/icon-pinterest.svg");
    -webkit-mask-size: contain;
    mask-size: contain; }
  #socials #insta {
    -webkit-mask: url("../images/icon-instagram.svg");
    mask: url("../images/icon-instagram.svg");
    -webkit-mask-size: contain;
    mask-size: contain; }
