#home-main {


    .hero {
        min-height: 40vh; 
        background:  $primary-col url('../images/cars-hero.jpg');
        // background-blend-mode: lighten;
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;

        display: flex; 
        justify-content: end;
        align-items: center;

        @include responsive(tablet) {
            min-height: 60vh;
            padding: 20px;
        }

        .text-hero {
            background-color: rgba($bg-col,0.8); 
            padding: 20px; 
            border-radius: 10px; 
            display: flex; 
            flex-direction: column;
            justify-content: space-between;
            min-height: 30vh; 
            color: $primary-col; 

            @include responsive(tablet) {
                min-height: 50vh;
                margin-right: 10px; 
            }
            @include responsive(desktop) {
                min-height: 50vh;
                margin-right: 100px; 
            }

            div {
                font-size: 1.5rem;
                font-weight: bold; 
                text-align: right;
            }

            button {
                cursor: pointer;
                width: 100%;
                background-color: $primary-col;
                padding: 10px; 
                border: none; 
                border-radius: 10px; 
                color: white; 
                font-weight: bold; 
            }

        }
        
    }


    .about-team {

        width: 80%; 
        margin: 0 auto 20px auto;

        h2 {
            text-align: center;
            color: black;
            position: relative; 
            &:after {
                content: ""; 
                position: absolute;
                top: 100%; 
                left: 10%;  
                width: 80%; 
                height: 3px; 
                background-color: $primary-col; 

                @include responsive(tablet) {
                    width: 60%;
                    left: 20%; 
                }
            }


        }
    }

    .persons {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }

    .person {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;

        .img {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
            height: 100px; 
            width: 100px; 
            border-radius: 50%; 
            background-color: $primary-col;
        }
    }

    .reverse {
        flex-direction: row-reverse;
        
    }
}