* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: #CDEDFD;
    display: grid; 
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "header header header"
        "main main main"
        "aside aside aside"
        ;
}
header {
    text-align: center;
    margin: 3rem;
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    width: 100%; 
    margin: 0 auto;
    grid-area: main;
}



section, aside {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    padding: 25px;
    margin:10px;
    text-align: center;
    background-color: white;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}
li {
    list-style: none; 
    margin: 10px;
}

/* media queries */

@media screen and (min-width: 48em) {
    body {
        grid-template-areas: "header header header"
            "aside main main"
            "aside main main"
        ;
    }

    main ul {
        flex-direction: row;
    }
}