* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

html, body {
    height: 100%; 
    width: 100%; 
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100%; 
    background-color: #81b29a; 
}

h1 {
    text-align: center;
    color: white; 
    padding-top: 5vh;
    text-decoration-line: underline;
    text-decoration-style:  wavy;
}

form {
    /* display: flex; 
    flex-direction: column; */
    
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: white; 
    border-radius: 50px 50px 0 0;
    height: 80%; 
}

.form-input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%; 
}

.form-item {
    display: flex; 
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: auto;
}

input {
    border: none; 
    border-bottom: 1px solid #3d405b; 
    text-align: center;

}

.btn {
    width: 100%; 
    background-color: #3d405b;
    border: 1px solid transparent; 
    color: white; 
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    height: 5vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
    font-family: inherit;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover, 
.btn:focus, 
.btn:active {
    background-color: #f4f1de;
    color: #3d405b;
    font-weight: bold;
    box-shadow: 0 10px 5px -5px ; 
}


/* Media queries */

@media screen and (min-width: 48em) {

    form {
        display: grid; 
        grid-template-columns: repeat(2, minmax(300px,1fr));
    }
    
    .form-input-section {
        width: 100%; 
    }
    .form-item {
        width: 100%;
    }

    input {
        width: 90%; 
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 90em) { 

    form {
        width: 60%;
        margin: 10vh auto 0 auto;
    }

    .btn {
        width: 90%; 
    }
}
